.mainCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
}

.cardContainer {
  width: 25%; /* Set each card container to occupy 25% of the container's width */
  padding: 0 35px; /* Add padding to create space between each card */
  display: flex;
}

.card {
  width: 100%; /* Make each card fill its container */
  margin-bottom: 20px; /* Add margin at the bottom */
  cursor: pointer;
}

.position{
  display: flex;
  justify-content: center;
}

.card:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .mainCards {
    flex-direction: column; /* Change to column layout for small screens */
    align-items: center;
  }

  .cardContainer {
    width: 100%; /* Occupy full width on small screens */
    display: flex;
    justify-content: space-around;
  }
  .card{
    .card:hover {
      transform: none; /* Remove hover effect on phones */
    }
  }
}
