.mainDiv {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  color: white;
  height: 40vh;
}

.image {
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search {
  width: 200%;
}

.searchNbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .search {
    width: 80%;
  }
}
